<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

		<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.datetimepicker.min.css"></link>
		<link rel="stylesheet" type="text/css" media="all" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css"/>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css"/> -->
		<style>
			h1,h3 {
				text-align: center;
			}
			.main {
				padding: 10px;
				padding-bottom: 40px;
				border: 1px solid silver;
				margin: 20px;
			}
			.blocks{
				display: flex;
				text-align: center;
			}
			.left-block,.right-block {
				padding: 10px;
				border: 1px solid black;
				width: 50%;
				margin: 20px;
				margin-top: 0px;
				height: 150px;
			}
			.date,.exam-id,.next-btn {
				width: 50%;
				margin: auto;
				padding: 10px;
			}
			.next-btn {
				width: 25%;
			}
			.full-name {
				font-size: 16px;
			}
			
		</style>
	</head>
	
	<body>
		<div class = "main">
	    <h1>CREATE EXAM</h1>
		<h3> SELECT TEST </h3>
			<div class = "blocks">
				<div class ="left-block">
					<h4 style = "text-align:center">English Language Test (ELT)</h4>
					{% for set in sets %}
						{% if set %}
							<input type="radio" id = "setsselector" name="qset" value="{{set.name}}"> <span class = "full-name">
						{{set.fullName}}</span><br>
						{% endif %}
					{% endfor %}
				</div>
				<div class ="right-block">
					<h4 style = "text-align:center">Quantitative Aptitude Test (QAT)</h4>  
					<input type="radio" name="qset" value="QAT1"><span class = "full-name"> QAT1 </span><br>
					<input type="radio" name="qset" value="QAT2"><span class = "full-name"> QAT2 </span><br>
					<input type="radio" name="qset" value="QAT3"><span class = "full-name"> QAT3 </span><br>
				</div>
			</div>
		<div class="form-group date">
		  <label for="datetimepicker">Select Date</label>
		  <input type="text" class="form-control" id="datetimepicker" placeholder="Click to select a date">
		</div>

		<div class = "form-group exam-id">
		    <label for="examidpicker">Enter Examid</label>
		    <input type="text" class = "form-control" id="examidpicker" placeholder="Click to enter examid">
		</div>

		<div class =  "form-group next-btn"> 
			<button id = "Log" class="btn btn-primary btn-md form-control">Next</button>
		</div>
	</div>
	<!-- <form name = "admincreatetest" method = "post" action = "/whattosend" accept-charset="utf-8">

		<div>
		    <label for="setname">Select test</label>
		    <input type="radio" name="setsselector" placeholder="select exam to be conducted">
		</div>

		<div>
		  <label for="datetimepicker">Select Date</label>
		    <input type="text" class="form-control" name="datetimepicker" placeholder="Click to select a date">
		</div>
		<div>
		    <label for="examid">Enter Examid</label>
		    <input type="text" name="examidpicker" placeholder="Click to eneter examid">
		</div>

		<button type = "submit"></button>

		</form>
 -->
		
<!-- 
		<div class = "main">
		<div class ="left-block">
			<h5 style = "text-align:center">English Language Test (ELT)</h5>
			<input type="radio" name="English" value="ELT1"> ELT1<br>
			<input type="radio" name="English" value="ELT2"> ELT2<br>
			<input type="radio" name="English" value="ELT3"> ELT3
		</div>
		<div class ="right-block">
			<h5 style = "text-align:center">Quantitative Aptitude Test (QAT)</h5>  
			<input type="radio" name="Math" value="QAT1"> QAT1<br>
			<input type="radio" name="Math" value="QAT2"> QAT2<br>
			<input type="radio" name="Math" value="QAT3"> QAT3
		</div>
	
		<div class="form-group">
		  <label for="datetimepicker">Select Date</label>
		    <input type="text" class="form-control" id="datetimepicker" placeholder="Click to select a date">
		</div>
		<div> 
			<p align="right">
			<button id="Log" class="btn btn-primary">Next</button></p>
 -->
<!-- 			<script type="text/javascript">
document.getElementById("Log").onclick = function () {
			location.href = "/uploadStudents";
	};
   
</script>
		</div>
		</div>
		
 -->
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/jquery.datetimepicker.full.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#datetimepicker').datetimepicker({
					startDate: new Date(),
					dayOfWeekStart : 1,
					lang:'en',
					minDate:0,
					minDateTime: new Date()
				});
			});
			document.getElementById("Log").onclick = function () {
				var date = $("#datetimepicker").val();
				var set = $('input:radio[name=qset]:checked').val();
				var examid = $("#examidpicker").val();
				// alert(date+set+examid)
				if (date != "" & set != "" & examid !="") {
					$.post( "/admin/createtest", { "date": date, "set": set, "examid": examid })
					  .done(function( data ) {
					  	if(data =="invalid")
					  		alert("That ID is already taken. Please choose a unique one.");
						else if (data == "invalidDate") {
							alert("Enter ValidDate.");
						}
						else {
						    location.href = data;
						};
					  });
				}
				else {
					alert("Please fill out all the fields.")
				}
			};
		</script>
	</body>
</html>