<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>

  

  <script>$('.dropdown-toggle').dropdown();


$('#divNewNotifications li').on('click', function() {
    $('#dropdown_title').html($(this).find('a').html());
    });</script>
  <style>
  	.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


table, th, td {
    border: 1px solid black;
    padding: 10px;
}


table {
    border-spacing: 25px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.filter-option {
	color: black;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
  </style>
</head>
<body>
	{%if empty%}
		<script>
			var validStudents = {}
		</script>

		{%for i in validStudentList%}
		  <script>validStudents["{{i}}"] = true</script>
	  	{%endfor%}
	  <script>
	 console.log(validStudents);
	</script>
	{% endif%}


	<div class = "container-fluid">		
		<div class="col-md-12">
			<h1> {{examid}} </h1>
			<h2>Exam Details</h2>
			<table id="examDetails" class="table-bordered">
				<tr>
					<td>Exam ID: </td>
					<td><select id="ExistingTests"></select></td>
				</tr>
				<tr>
					<td>Question Paper: </td>
					<td id="qpaper"></td>
				</tr>
				<tr>
					<td>Date of Examination:</td>
					<td id="doe"></td>

				</tr>
			</table><br>
			<button class="btn btn-primary btn-md" style = "float:left" id="host-test" disabled> Host Test </button>
			<a href= "/admin/deleteTest?examid={{examid}}" id = "delete-btn" class="btn btn-primary btn-md"type="button">Delete Test</a>
		</div>
		<div class="col-md-12">
			<br><h2> Upload Students </h2>		
		</div>

        <!-- {% for s in currentAdminTests %}
				print {{s}}
			{% endfor %} -->
		<div class="col-md-5">
			<h3> Add One Student </h3><hr>
			<form id="addStudent" action="/admin/addStudent" method="post">
			  <input id="dupexamid" type="hidden" name="examid">
			  <!-- <div class="input-group">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			    <input id="rollnum" type="text" class="form-control" name="rollnum" placeholder="Roll. No.">
			  </div>
			  <div class="input-group">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			    <input id="stuname" type="text" class="form-control" name="name" placeholder="Name">
			  </div> -->
			  <div class="input-group">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			    <input id="email" type="text" class="form-control" name="email" placeholder="Email">
			  </div>
			  <!-- <div class="input-group">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			    <input id="campus" type="text" class="form-control" name="learningcenter" placeholder="Learning Center">
			  </div> -->
			  <!-- <div class="input-group">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			    <input id="year" type="text" class="form-control" name="Year" placeholder="Student Batch">
			  </div>
			  <div class="input-group">
			    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			    <input id="Section" type="text" class="form-control" name="Section" placeholder="Student Section">
			  </div> -->
			  <hr>
			  <button type="submit" id="button3" class="btn btn-success">Submit</button>
			</form>
			<span style="color:green">{{status}}</span>
		</div>
		<div class="col-md-7">
			<h3>Add Multiple Students</h3>
			<hr>
			<div class="row search">
				<!-- <h3> Search Students By </h3> -->

			   <!--  <select class="col-md-4 selectpicker" data-style="btn-success">
			      <option>Choose campus</option>
				  <option>Nuzvid</option>
				  <option>RKValley</option>
				  <option>Basara</option>
				</select>  -->
					
				  <!-- </div> -->
				<!-- </div> -->
				<div class=" col-md-4 dropdown">
				 <!--  <button class="dropbtn"> Choose Batch </button> -->
				  <select class="selectpicker show-menu-arrow" multiple data-live-search="true" id = "batch-select" title = "Choose Batch" style = "color:black">
					  <option>PUC 1</option>
					  <option>PUC 2</option>
					  <option>ENGG 1</option>
					  <option>ENGG 2</option>
					  <option>ENGG 3</option>
					  <option>ENGG 4</option>
				   </select>
				</div>

				<div class="col-md-4 dropdown">
				  <select class="selectpicker show-menu-arrow" id = "section-select" multiple data-live-search="true" title = "Choose Section" style = "color:black">
						  <option>KAPPA 1</option>
						  <option>KAPPA 2</option>
						  <option>KAPPA 3</option>
						  <option>KAPPA 4</option>
						  <option>KAPPA 5</option>
						  <option>KAPPA 6</option>
				   </select>
				</div>

			</div>
			<br>
			<div style="padding: 2%" class="row">
				<table id="usertable" class="col-md-12 display text-center" >
					  <thead>
					  	<tr>
					    	<th>Roll No.</th>
					    	<th>Name</th>
					    	<th>Email</th>
					    	<th>Learning Center</th>
					    	<th>Batch</th>
					    	<th>Section</th>
					    	<th>Select All <input type = "checkbox" id = "select-all"></th>
					  	</tr>
					  </thead>
				</table>
			</div>
			<br>
			<h4 class="text-center"><b>(OR)</b></h4>
			<br>
			<div class="form-group">
				<form method = "POST" name = "excel-form" action = "{{url}}" enctype="multipart/form-data">
				    <input type="file" id="studentscsv" name="csvfile" >
				    <p class="help-block">(Please upload a students list in .csv format.)</p>
				    <input type = "hidden" name = "examid" value = "{{examid}}">
				    <button type = "submit" class="btn btn-md btn-success" id = "add_student">Add</button>
				</form>
			</div><hr>
			<h3><FONT color = "green" > {{msg}} </FONT></h3>
			{%if conflictList %}
				<script>window.history.pushState("","","/admin/uploadStudents?examid={{examid}}")</script>
				<h3> CONFLICTED LIST OF STUDENTS </h3>
				{%for student in conflictList%}
					<p>{{student}}</p>
				{%endfor%}
				{%elif empty%}
				  <script>window.history.pushState("","","/admin/uploadStudents?examid={{examid}}")</script>
				  <p class = "text-success"> No Conflicted List Of Students </p>
			{%endif%}	
		</div>
	</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js">
</script>
<!-- {%if hosted%}
<script>
	
</script>
{%endif%} -->
<script>
	$("#host-test").click(function() {
		console.log("**********8888888888888888888888888888888888888888888")
		console.log(validStudents)
		$.ajax({
			type : 'POST',
            contentType: 'application/json',
            url: '/admin/hostTest',
            data: JSON.stringify( {"hostStudentList":validStudents,"examid":'{{examid}}'})
        }).done(function () {
        	alert("{{examid}} is hosted");
        });

		
		// $.post('/admin/hostTest',{"hostStudentList":validStudents,"examid" : '{{examid}}'},function(data){
		// 	alert("{{examid}} is hosted");
		// });
	});
	function getData(examid){
		$.get( "/admin/getexamdetails?examid="+examid, function( data ) {
		  data = JSON.parse(data);
		  $("#qpaper").html(data[0]);
		  $("#doe").html(data[1]);
		});
	}
	var currentTests = {{ currentAdminTests|safe }}
	var options = "";
	for (var i = 0; i < currentTests.length; i++) {	
		if(currentTests[i] == "{{examid}}") {
			options += "<option selected>"+currentTests[i]+"</option>";
		}
		else {
			options += "<option>"+currentTests[i]+"</option>";
		}
	}
	$("#ExistingTests").append(options);
	
	getData($("#ExistingTests").val())

	$("#ExistingTests").on('change', function(){
		$("#dupexamid").val($("#ExistingTests").val());
		$("#qpaper").html("");
		$("#doe").html("");
		getData(this.value);
	});

	$("#select-all").click(function() {
		if($(".editor-active").prop('checked')) {
			$(".editor-active").prop('checked',false);
		}
		else{
			$(".editor-active").prop('checked',true);
		}
	});

	$(".editor-active").click(function() {
		console.log(":::::::::::::::::::::::::::::::::::::")
		if($(".editor-active").prop('checked')) {
			console.log($(this));
		}
	});	
			// console.log("{{empty}}")
	
	if ("{{empty}}"){
		$("#host-test").attr("disabled",false);
	}
	
	
	

	function filterStudents() {
		$.fn.dataTable.ext.search.push(
		function( settings, data, dataIndex ) {
			var batchSelect = $("#batch-select").val();
			var sectionSelect = $("#section-select").val();
			var batchs,sections
			var p,q
			if (batchSelect) {
				batchs = batchSelect.toString().split(",");
				// for (var i = 0; i < batchs.length; i ++) {
				// 	batchs[i] = batchs[i].trim("")
				// }
			};
			if (sectionSelect) {
				sections = sectionSelect.toString().split(",");
				// for (var i = 0; i < sections.length; i ++) {
				// 	sections[i] = sections[i].trim("")
				// }
			};
					// console.log(batchs)
					// console.log("<<<<<<<<<<<<<<<<<")
					// console.log(sections)

			if(batchs && sections) {
				if (batchs.indexOf(data[4].trim()) >= 0 && sections.indexOf(data[5].trim()) >= 0) {
					return true;
				}
				return false;
			}		

			else if (batchs) {
				if (batchs.indexOf(data[4].trim()) >= 0) {
					return true;
				}
				return false;
			}
			else if (sections) {
				if (sections.indexOf(data[5].trim()) >= 0) {
					return true;
				}
				return false;
			}
			else {
				return true;
			}
		});
	}

	function clearStudents() {
		$.fn.dataTable.ext.search.pop();
		table.draw();
	}


	$(document).ready(function() {
	    table = $('#usertable').DataTable( {
	        "processing": true,
	        // "serverSide": true,
	        "ajax": {
	            "url": "/admin/getstudents?examid={{examid}}",
	            "type": "GET"
	        },
	        "columns": [
	            { "data": "rollno" },
	            { "data": "name" },
	            { "data": "email" },
	            { "data": "learningcenter" },
	            { "data": "batch"},
	            { "data": "section"},
            	{"data":   "active",
	                render: function ( data, type, row ) {
	                	if (row.valid) {
	                		return '<input type="checkbox" id="one" style = "width : 25px;height : 25px" class="editor-active">';
	                	}
	                	else {
	                		return '<input type="checkbox" id = "two" style = "width : 25px;height : 25px" class="editor-inactive" disabled >';
	                	}
	                }
        		}
	        ],
	         "columnDefs": [
	            {
	                "targets": [ 4 ],
	                "visible": false,
	            },
	            {
	                "targets": [ 5 ],
	                "visible": false,
	            }
        	]
	    });
	    $("#batch-select,#section-select").change(function() {
	    	clearStudents();
	    	filterStudents();
	    	table.draw();
		});


	});
	// $("#batch-select,#section-select").change(function() {
	// 		batchSelect = $("#batch-select").val();
	// 		sectionSelect = $("#section-select").val();
	// 		console.log(batchSelect+"    " + sectionSelect)
	// 		console.log("//////////////////////////////////////")
			
	        	
	// 	});

</script>

<script>
		// document.getElementById("button3").onclick = function () {
		// 	// var student = {}
		// 	// student["studentname"]  = $("#stuname").val();
		// 	// student["studentcampus"] = $("#campus").val();
		// 	// student["studentrollnum"] = $("#rollnum").val();
		// 	// student["studentmail"] = $("#mail").val();
		// 	// student["studentyear"] = $("#year").val();
		// 	// student["studentsection"] = $("#Section").val();
		// 	// // alert(student);
		// 	// console.log(student)
		// 	// $.post("/admin/addStudent",student).done(function(data){
		// 	// 	console.log(data)
		// 	// })
		// }
		// var examid = $("#Section").val();

		// if (studentname != "" & studentcampus != "" & studentrollnum !="" & studentmail != "" & studentyear != "" & studentsection !="") {
		// 	$.post( "/admin/check", { "studentname": studentname, "studentcampus": studentcampus, "studentrollnum": studentrollnum, "studentmail": studentmail,"studentyear": studentyear,"studentsection": studentsection})
		// 		.done(function( data ) {
		// 		    console.log(data);
		// 	 	});
		// 		}
		// 		else {
		// 			alert("Please fill out all the fields.")
		// 		}
		// 	};
</script>
<!-- <script>
		function addStudent() {
			var e = document.getElementById("ExistingTests");
			var value = e.options[e.selectedIndex].value;
			if(value==None) {
				alert(value)
				document.getElementById("button1").disabled = true;
				document.getElementById("button2").disabled = true;
				document.getElementById("button3").disabled = true;
				document.getElementById("button4").disabled = true;

			}
		}

</script> -->
<script type="text/javascript">
	$("#button3").click(function(event){
		console.log("btn clicked")
		event.preventDefault()
		$("#addStudent").submit();
	});
</script>


<script type="text/javascript">
	$("#add_student").click(function(){
		test = {}
		test["examid"] = $("#examid").val();
		test["date"] = $("#datetimepicker").val();
		test["questionset"] = $("#questionset").val();
		// var fd = new FormData($('#studentcsv').get(0));
		// console.log(fd);
		test["csv"] = $("#studentscsv")[0].files[0].name;
		test = JSON.stringify(test);
		$("#message").text(test+"");
		$('#passwordsNoMatchRegister').slideDown();
	});
	$("#dismiss").click(function(){
		$('#passwordsNoMatchRegister').hide();
	})
</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
</html>
